{{extend 'layout.html'}}
<pre>
    Полное наименование:Товарищество собственников жилья “Шведская Крона”
    Краткое наименование: ТСЖ “Шведская Крона”
    Юридический адрес: 197341, Санкт-Петербург, Фермское шоссе, д.22, лит.В
    ИНН: 7814499712
    ОГРН: 1117847166821
    Дата присвоения ОГРН: 03.05.2011
    Орган, присвоивший ОГРН: Межрайонная ИФНС №15 по Санкт-Петербургу

    Председатель правления

    Свинолобов Александр Валентинович,+7 931 340 9279

    Приемные часы: каждый вторник 10.00-11.00

    Диспетчерская служба

    Для управления и контроля технического состояния жилого микрорайона (жилого дома) создана диспетчерская служба. Диспетчерская служба контролирует работу инженерного оборудования, координирует работу плановых и аварийных бригад, является центром приема всех заявок и аварийных сигналов. Работа диспетчерской службы осуществляется круглосуточно.

    По всем вопросам можно обращаться в круглосуточную диспетчерскую службу по телефону: (812) 308 9413
    Контактный e-mail: schvedskaya.krona@mail.ru

    Управляющий

    Кирнос Антонина Васильевна, +7 921 390 0244

    Часы работы Управляющего на объекте: 9.00 -18.00
    Прием собственников каждый четверг: 18.00 - 20.00
</pre>


{{=BEAUTIFY(response._vars)}}
