{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}


{{if 'message' in globals():}}
{{=message}}

<div style="text-align: justify">
    <p>Для доступа к функциям Личного Кабинета, пожалуйста, зарегистрируйтесь в
    системе и настройте профиль пользователя.
    <p>После этого Вы сможете самостоятельно вводить информацию о расходовании
    энергоресурсов, проверять правильность расчетов коммунальных платежей и
    осуществлять платежи любым из удобных для Вас способов.
    <br>
    <p>Для регистрации в личном кабинете воспользуйтесь меню "Вход" в верхней
    правой части системы.

</div>




{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}




{{block right_sidebar}}
<div class="text-info" style="text-align: center"> <h3>Контакты</h3></div>
<div class='well' style="text-align: left">
    <b>Товарищество собственников жилья “Шведская Крона”</b>
    <b>Юридический адрес:</b> 197341, Санкт-Петербург, Фермское шоссе, д.22, лит.В<br>
    <b>ИНН:</b> 7814499712<br>
    <b>ОГРН:</b> 1117847166821<br>

    <b>Председатель правления:</b>Свинолобов Александр Валентинович<br>

    <b>Приемные часы:</b> каждый вторник 10.00-11.00<br>

    <b>Диспетчерская служба:</b> +7(812) 308-9413<br>
    <b>Контактный e-mail:</b> schvedskaya.krona@mail.ru<br>

    <b>Управляющий:</b> Кирнос Антонина Васильевна<br>

    <b>Часы работы Управляющего на объекте:</b> 9.00-18.00<br>
    <b>Прием собственников каждый четверг:</b> 18.00-20.00<br>
</div>
{{end}}
